/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Merriweather', serif;
*/
*{
  box-sizing: border-box;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 48px
}
h2{
  font-family: 'Merriweather', serif;
  font-size: 28px
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 30px;
}
a{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
a:hover{
  cursor: pointer;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
}
.index main{
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
}
.index h1{
  margin: 0 0 40px 0;
}
.index h2{
  margin: 40px 0 40px 0;
}
.index p{
  margin: 40px 0 40px 0;
}
.center-launch{
  margin: auto;
  max-width: 60%;
  z-index: 999;

}
.center-launch p{

}
.index .button-launch{
  display: block;
  margin-top: 60px;
  margin: auto;
  background-color: transparent;
  color: white;
  padding: 21px 40px;
  width: 280px;
  text-align: center;
  position: relative;
  overflow:hidden;
  transition: .3s;
  /*
  border: 2px solid #f7f7f7;
  */
  animation: couleurborderbouton infinite 10s;
}
.index .button-launch:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  animation: couleurfondbouton infinite 10s;
  /*
  background: #f7f7f7;
  */
  height: 130%;
  left: -10%;
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
  z-index: -1;
}
.index .button-launch:hover {
  color: white;
}
.index .button-launch:hover:after {
  left: -10%;
  width: 120%;
}
.svg-hero, .svg-two, .svg-three, .svg-four{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1.1);
  transform-origin: bottom;
}
.full-screen{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.index{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.index #spring, 
.index #summer,
.index #winter,
.index #autumn,  

.debut #spring,
.fin #spring, 
.svg-fond-fin
 {
  width: 100%;
  height: 100%;
}




/*-------------------------------------------------------------------------------*\

Ema début

\*-------------------------------------------------------------------------------*/
.debut main{
  z-index: 1000;
  min-height: 100vh;
}
.svg-fond-debut, .svg-fond-fin{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  transform: scale(1.1);
  transform-origin: bottom;
}
.presentation-debut{
  height: 100vh;
  margin: auto;
  display: flex;
  width: 60%;
}
.pres-unity-2006{
  height: 100vh;
  display: flex;
}
.text-pres-debut{
  margin: auto;
}
.unity-ema-debut{
  display: flex;
  margin: auto;
  width: 90vw;
  height: 60vh;
  background-color: white;
  color: black
}
.unity-ema-debut h2{
  margin: auto;
  color: black;
}

.unity{
  width: 90vw;
  height: 60vh;
}



.debut .button-launch{
  display: block;
  margin: auto;
  background-color: transparent;
  color: black;
  padding: 21px 40px;
  width: 320px;
  text-align: center;
  animation: couleurborderbouton infinite 10s;
  position: relative;
  overflow:hidden;
  transition: .3s;
  margin-top: 60px;
}
.debut .button-launch:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  animation: couleurfondbouton infinite 10s;
  /*
  background-color: black;
  */
  height: 130%;
  left: -10%;
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
  z-index: -1;
}
.debut .button-launch:hover {
  color: white;
}
.debut .button-launch:hover:after {
  left: -10%;
  width: 120%;
}
.arrow-down{
  text-align: center;
  margin: auto;
  padding-top: 20px;
  height: 80px;
}
@keyframes arrowdown {
    0% {margin-top: 0px;}
    50% {margin-top: 25px;}
    100% {margin-top: 0px;}
}
.fa-arrow-down{
  animation: arrowdown 2s infinite;
  color: black;
  display: block;
  margin: auto;
  text-align: center;
}


.arrow-retour{
  text-align: center;
  margin: auto;
  height: 50px;
  width: 50px;
}
.fa-arrow-retour{
  display: block;
  margin: auto;
  text-align: center;
   transform: rotate(90deg);
}
.retour{
  position: fixed;
  top:40px;
  left: 30px;
  z-index: 9999;
}
.fa-arrow-left{
  color: black;
}

/*-------------------------------------------------------------------------------*\

Ema fin

\*-------------------------------------------------------------------------------*/
.pres-unity-2030{
  width: 100%;
  height: 100vh;
  display: flex;
}
.pres-unity-2030 h2{
  text-align: center;
}
.center-flex{
  display: flex;
}
.center{
  margin: auto;
}
.unity-ema-fin{
  display: flex;
  margin: auto;
  width: 90vw;
  height: 60vh;
  background-color: white;
  color: black
}
.unity-ema-fin h2{
  margin: auto;
  color: black !important;
}



.fin .button-launch{
  display: block;
  margin: auto;
  background-color: transparent;
  color: white;
  padding: 21px 40px;
  width: 320px;
  margin-top: 60px;
  text-align: center;
  animation: couleurborderbouton infinite 10s;
  position: relative;
  overflow:hidden;
  transition: .3s;
}
.fin .button-launch:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  animation: couleurfondbouton infinite 10s;
  /*
  background-color: black;
  */
  height: 130%;
  left: -10%;
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
  z-index: -1;
}
.fin .button-launch:hover {
  color: white;
}
.fin .button-launch:hover:after {
  left: -10%;
  width: 120%;
}
.text-fin-fin{
  margin: auto;
  color: white;
}
.fin p, .fin h1, .fin h2{
  color: white;
}



/*-------------------------------------------------------------------------------*\

Merci

\*-------------------------------------------------------------------------------*/
.merci main{
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: flex;
}
.merci .message-final{
  margin: auto;
  width: 50%;
}


.merci .button-launch{
  display: block;
  margin: auto;
  background-color: transparent;
  color: black;
  padding: 21px 40px;
  width: 320px;
  margin-top: 60px;
  text-align: center;
  animation: couleurborderbouton infinite 10s;
  position: relative;
  overflow:hidden;
  transition: .3s;
}
.merci .button-launch:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  animation: couleurfondbouton infinite 10s;
  /*
  background-color: black;
  */
  height: 130%;
  left: -10%;
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
  z-index: -1;
}
.merci .button-launch:hover {
  color: white;
}
.merci .button-launch:hover:after {
  left: -10%;
  width: 120%;
}


















.logo-equipe{
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 80px;
  height: 80px;
  z-index: 9999;
}
.logo-equipe img{
  width: 100%;
  height: 100%;
}







.center-flex-unity{
  width: 100%;
  height: 100vh;
  display: flex;
}


.white{
  color: white !important;
}
#canvas{
  border: 10px solid white;
}





























